:root {
    --link-color: rgba(82, 67, 67, .8);
    --link-hover-color: #2D5551;
    --link-active-color: #2D5551;
}

@mixin nav-link {
    padding: 10px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    font-family: var(--font-secondary);
    font-weight: 500;
    cursor: pointer;
}

@mixin link {
    text-decoration: none;
    font-family: var(--font-secondary);
    font-weight: 500;
    color: var(--link-color);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
        color: var(--link-hover-color);
        transition: all 0.3s ease-in-out;
    }
    &:active {
        color: var(--link-active-color);
    }
}

.link {
    @include link;
}