:root {
    --list-bg-color: transparent;
    --list-header-bg-color: #d5dec7;
    --list-footer-bg-color: transparent;

    --list-item-bg-color: transparent;
    --list-header-item-bg-color: #ffffff;
    --list-header-link-color: rgba(82, 67, 67, .8);
    --list-header-link-active-color: #2D5551;

    --list-footer-item-bg-color: tranparent;
    --list-footer-link-color: #D5DEC7;
    --list-footer-link-active-color: #ffffff;
}

.list {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px;
    border-radius: 8px;
    &--header {
        background-color: var(--list-header-bg-color);
        @media screen and (max-width: 1079.98px) {
            width: 100%;
            flex-direction: column;
            z-index: 999;
        }
        & .list__item {
            border-radius: 4px;
            background-color: var(--list-item-bg-color);
            & .list__link {
                color: var(--list-header-link-color);
                @media screen and (max-width: 1079.98px) {
                    padding: 20px;
                }
            }
            &:hover {
                background-color: var(--list-header-item-bg-color);
                & .list__link {
                    color: var(--list-header-link-active-color);
                }
            }
            &.active {
                background-color: var(--list-header-item-bg-color);
                & .list__link {
                    color: var(--list-header-link-active-color);
                }
            }
        }
    }
    &--footer {
        background-color: var(--list-footer-bg-color);
        @media screen and (max-width: 767.98px) {
            flex-wrap: wrap;
        }
        & .list__item {
            border-radius: 4px;
            background-color: var(--list-item-bg-color);
            @media screen and (max-width: 767.98px) {
                width: 100%;
                flex: 1 1 calc(100% / 3 - 6px);
            }
            @media screen and (max-width: 545.98px) {
                width: 100%;
                flex: 1 1 100%;
            }
            & .list__link {
                color: var(--list-footer-link-color);
            }
            &:hover {
                background-color: var(--list-footer-item-bg-color);
                & .list__link {
                    color: var(--list-footer-link-active-color);
                }
            }
            &.active {
                background-color: var(--list-footer-item-bg-color);
                & .list__link {
                    color: var(--list-footer-link-active-color);
                }
            }
        }
    }
    &__item {
        width: 100%;
    }
    &__link {
        @include nav-link;

        white-space: nowrap;
    }
}
