:root {
    --footer-bg-color: #232723;
    --footer-border-color: #333833;
    --footer-nav-bg-color: transparent;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    isolation: isolate;
    background-color: var(--footer-bg-color);
    clip-path: polygon(
        0% 120px,
        120px 0%,
        calc(100% - 120px) 0%,
        100% 120px,
        100% 100%,
        0% 100%
    );
    @media screen and (min-width: 992px) and (max-width: 1239.98px) {
        clip-path: polygon(
            0% 80px,
            80px 0%,
            calc(100% - 80px) 0%,
            100% 80px,
            100% 100%,
            0% 100%
        );
    }
    @media screen and (max-width: 991.98px) {
        clip-path: polygon(
            0% 60px,
            60px 0%,
            calc(100% - 60px) 0%,
            100% 60px,
            100% 100%,
            0% 100%
        );
    }
    @media screen and (max-width: 467.98px) {
        clip-path: polygon(
            0% 40px,
            40px 0%,
            calc(100% - 40px) 0%,
            100% 40px,
            100% 100%,
            0% 100%
        );
    }
    &__header {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        position: relative;
        & .footer__panel {
            @media screen and (max-width: 1079.98px) {
                display: none;
            }
        }
        @media screen and (max-width: 623.98px) {
            height: auto;
            flex-direction: column;
            justify-content: center;
        }
    }
    &__logo {
        width: 100%;
        min-width: 150px;
        max-width: 200px;
        height: 50px;
        max-height: 50px;
    }
    &__logo-link {
        width: 100%;
        height: 100%;
        display: block;
    }
    &__social {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 1079.98px) {
            justify-content: flex-end;
        }
        @media screen and (max-width: 623.98px) {
            justify-content: center;
        }
    }
    &__panel {
        width: 100%;
        min-width: 150px;
        max-width: 200px;
        height: 50px;
        max-height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        position: relative;
    }
    &__nav {
        width: 100%;
        height: 50px;
        max-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: var(--footer-nav-bg-color);
        @media screen and (max-width: 767.98px) {
            height: auto;
            max-height: none;
        }
    }
    &__copyright {
        width: 100%;
        border-top: 1px solid var(--footer-border-color);
        padding: 20px 0;
        text-align: center;
    }
    &__desc {
        @include desc-copyright;
    }
}
