:root {
    --header-bg-color: #e2ebd3;
    --header-nav-bg-color: rgba(226, 235, 211, 0.8);
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--header-bg-color);
    position: relative;
    @media screen and (max-width: 1079.98px) {
        position: sticky;
        top: 0;
        z-index: 999;
    }
    &__logo {
        width: 100%;
        min-width: 150px;
        max-width: 200px;
        height: 50px;
        max-height: 50px;
    }
    &__logo-link {
        width: 100%;
        height: 100%;
        display: block;
    }
    &__nav {
        width: 100%;
        height: 50px;
        max-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: var(--header-nav-bg-color);
        @media screen and (max-width: 1079.98px) {
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            position: fixed;
            top: 90px;
            left: 0;
            right: 0;
            bottom: 0;
            height: auto;
            max-height: none;
            padding: 20px;
            z-index: 999;
            backdrop-filter: blur(15px);
        }
        & > .btn-secondary {
            @media screen and (min-width: 468px) {
                display: none;
            }
            @media screen and (max-width: 467.98px) {
                width: 100%;
            }
        }
        &.show {
            display: flex;
        }
    }
    &__panel {
        width: 100%;
        min-width: auto;
        max-width: 200px;
        height: 50px;
        max-height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        & > .btn-secondary {
            @media screen and (max-width: 467.98px) {
                display: none;
            }
        }
        @media screen and (max-width: 467.98px) {
            width: auto;
        }
    }
    &__mobile-nav {
        @media screen and (min-width: 1080px) {
            display: none;
        }
    }
}
