.promo {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    animation: promo-slide-in 1.5s ease-out forwards;
    will-change: transform, opacity;
    backface-visibility: hidden;
    @media screen and (max-width: 991.98px) {
        height: auto;
    }
    &__header {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        &--top {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            @media screen and (min-width: 992px) and (max-width: 1279.98px) {
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;
            }
            @media screen and (min-width: 768px) and (max-width: 991.98px) {
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;
            }
            @media screen and (max-width: 767.98px) {
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;
            }
        }
        &--bottom {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
            @media screen and (min-width: 992px) and (max-width: 1289.98px) {
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;
            }
            @media screen and (min-width: 768px) and (max-width: 991.98px) {
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
            }
            @media screen and (max-width: 767.98px) {
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
            }
        }
    }
    &__subtitle {
        @include subtitle;
        @media screen and (min-width: 992px) and (max-width: 1279.98px) {
            order: 2;
        }
        @media screen and (min-width: 768px) and (max-width: 991.98px) {
            order: 2;
        }
        @media screen and (max-width: 767.98px) {
            order: 2;
        }
    }
    &__tooltip {
        @include tooltip;
        animation: promo-pulse 1.5s infinite ease-in-out;
        will-change: opacity, transform;
        @media screen and (min-width: 992px) and (max-width: 1279.98px) {
            order: 1;
        }
        @media screen and (min-width: 768px) and (max-width: 991.98px) {
            order: 1;
        }
        @media screen and (max-width: 767.98px) {
            order: 1;
        }
    }
    &__title {
        @include title-main;
        transform: scale(0.9);
        visibility: hidden;
        animation: promo-scale-in 1s ease-out forwards;
        will-change: opacity, transform;
        @media screen and (min-width: 992px) and (max-width: 1289.98px) {
            order: 1;
        }
        @media screen and (min-width: 768px) and (max-width: 991.98px) {
            order: 1;
        }
        @media screen and (max-width: 767.98px) {
            order: 1;
        }
    }
    &__desc {
        @include desc-primary;
        max-width: 450px;
        animation: text-zoom-in 1.2s ease-out forwards;
        backface-visibility: hidden;
        will-change: transform, opacity;
        @media screen and (min-width: 992px) and (max-width: 1289.98px) {
            margin-left: auto;
            order: 2;
        }
        @media screen and (min-width: 768px) and (max-width: 991.98px) {
            margin-left: auto;
            order: 2;
        }
        @media screen and (max-width: 767.98px) {
            margin-left: auto;
            order: 2;
        }
        @media screen and (max-width: 564.98px) {
            order: 2;
            margin: 0;
        }
    }
    &__footer {
        height: 100%;
        display: flex;
        flex-direction: column;
        &--bg {
            width: 100%;
            height: 100%;
            max-height: 540px;
            isolation: isolate;
            clip-path: polygon(
                0% 0,
                0 0%,
                calc(100% - 24vw) 0%,
                calc(100% - 17vw) 5vw,
                calc(100% - 10vw) 0%,
                100% 0,
                100% 100%,
                20vw 100%,
                0% calc(100% - 10vw)
            );
            object-fit: cover;
            aspect-ratio: 16 / 9;
            transform-origin: bottom;
            visibility: hidden;
            animation: promo-bg-scale-fade-in 1.5s .3s ease-in-out forwards;
        }
        &--header {
            display: none;
            flex-direction: column;
            align-items: baseline;
            gap: 20px;
            position: relative;
            bottom: 50px;
            @media screen and (max-width: 991.98px) {
                display: flex;
                gap: 10px;
                bottom: 30px;
            }
            @media screen and (max-width: 467.98px) {
                display: flex;
                gap: 10px;
                bottom: 15px;
            }
        }
        &--count {
            @include title-card;
            color: transparent;
            animation: promo-fade-in-count 0.5s 1s ease-out forwards;
        }
        &--title {
            @include title-card;
        }
    }
}

@keyframes promo-slide-in {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes text-zoom-in {
    from {
        transform: scale(0.8);
        color: rgba(111, 117, 95, 0.5);
    }
    to {
        transform: scale(1);
        color: rgba(111, 117, 95, 1);
    }
}

@keyframes promo-scale-in {
    to {
        transform: scale(1);
        visibility: visible;
    }
}

@keyframes promo-bg-scale-fade-in {
    from {
        visibility: hidden;
        transform: scale(0.9) translateY(0);
    }
    to {
        visibility: visible;
        transform: scale(1) translateY(0);
    }
}

@keyframes promo-fade-in-count {
    to {
        color: var(--priority-count-color);
    }
}

@keyframes promo-pulse {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
