.tricker {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    &__title {
        @include desc-primary;
        font-weight: 300;
        text-align: center;
    }
    &__list {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 40px;
        @media screen and (min-width: 464px) and (max-width: 991.98px) {
            overflow: hidden;
            overflow-x: auto;
            padding-bottom: 20px;
            scrollbar-width: thin;
        }
        @media screen and (max-width: 463.98px) {
            overflow: hidden;
            overflow-x: auto;
            padding-bottom: 10px;
            scrollbar-width: thin;
        }
    }
    &__item {
        width: 100%;
        height: 50px;
        flex: 1 1 calc(100% / 5 - 40px);
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (min-width: 768px) and (max-width: 991.98px) {
            flex: 1 1 calc(100% / 5 - 40px);
            min-width: calc(100% / 3 - 40px);
        }
        @media screen and (min-width: 464px) and (max-width: 767.98px) {
            flex: 1 1 calc(100% / 5 - 40px);
            min-width: calc(100% / 2 - 40px);
        }
        @media screen and (max-width: 463.98px) {
            flex: 1 1 100%;
            min-width: 100%;
        }
    }
}
